//show_page css style


.column-icon {
    display: contents;
    margin-top: 40px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0 10px 30px rgba(0,0,0,.1); 
    font-size: 17px;
    
}

.container-img {
    margin-left: 20px;
    margin-right: 20px; 
    margin-top: 40px;
    margin-bottom: 40px;    

}                 


.container-description {
    font-size: 50px;
}


.container-i {
    display: flex;
    justify-content: space-around;  
   
}
