//show_page css style

.row > div {
    margin-top: 30px;
    margin-bottom: 50px;
    border: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,.1); 
    justify-content: space-evenly;
    background-color: whitesmoke;
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
    justify-content: space-between;
}

.container {
    justify-content: space-between; 
  
}

.container-information {
    font-size: small;
    display: inline;
}

.flex-container {
    justify-content: space-between;
    align-items: stretch;
    margin-top: 15px;
    margin-bottom: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}

// .p {
//     font-size: xx-large;
// }

// .h5 {
//     text-decoration: none;
// }

.container-description {
    font-size: 30px;
}

.cards {
    display: block;
}