//show_page css style


.column-icon {
    display: contents;
    margin-top: 40px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    font-size: 17px;

}

.container-img {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: -4%;

}


.container-description {
    font-size: 50px;
}


.card-photo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin-bottom: 5%;
}

.card-icon {
    font-size: 25px;
    display: inline-table;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: fit-content;
    padding: 5%;
    min-width: max-content;
}

.cards-icon {
    grid-gap: 16px;
    display: inline-flex;
    margin-top: 40px;

}

.other-icon {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.form {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 50px;
    margin-left: 60%;
    margin-top: 3%;
    border: solid;
    color: rgb(182, 13, 13);
    text-align: center;
}

.icons {
    grid-template-columns: 1fr 1fr;
    display: inline-grid;
    justify-items: start;
    margin-bottom: 20%;
    font-size: 20px;
    margin-top: 30px;
}


// show booking

.panel-heading {
    padding: 2%;
    text-align: center;
}