<div class="container">
    <div class="text-center">
        <h2> Confirmation </h2>
        <div class="col-md-8">
            <div class="detail">
                <h6> <strong> Check-in </strong> </h6>
                <%= @booking.start_date%>
                 <div class="col">
                        <h6><strong> Check-out </strong> </h6>
                        <%= @booking.end_date%>
                 </div>
            </div>
        </div>

    </div>
</div>