<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700">




<nav>
  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">Photos</a></li>
    <li><a href="#">Bookings</a></li>
    <li><a href="#">More</a>
    </li>
  </ul>
</nav>
