<div class= "outer_box">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://github.com/dhruvmullick/hotel-reservation-system/blob/master/image/image2.jpg?raw=true);">
    <div class="container">
         <h1><strong>Hotelme</strong></h1>
         <p>Make your your dream come true!</p>
          <%# <a class="btn btn-flat" href="#">Search a Hotel</a> %>
        </div>
          <div class="main_button">
          <%= link_to "Search a hotel", hotels_path, class: "btn btn-ghost" %>
          <%# <%= link_to "Book now", "#", class: "btn btn-flat" %>
        </div>
    </div>


    <br></br>

    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://th.bing.com/th/id/OIP.bfmqrzEcnMJQY6qKRK7kngHaEj?pid=ImgDet&rs=1)">
        Maldives
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1584467541268-b040f83be3fd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)">
        Athens
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.timeout.com/images/105262648/750/562/image.jpg)">
        Bali
      </div>
    </div>

    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        Hotelme is made by Adriana, Alessandra, Harsh and Kamelya
      </div>
    </div>
</div>
